# Database files
data/*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
venv/
.venv/
ENV/
conda-env/
samples/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
*~
.ipynb_checkpoints/
